---
layout: default
---
<div id="wrapper" class="clear">
         <nav class="navbar navbar-default navbar-static">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/BUITM"><span class="spacing"><font color ="#bf2e26">BU in the Morning</font></span></a> 
               </div>
               <div class="collapse navbar-collapse main-nav">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="/BUITM">Home</a></li>
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Listen <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="/BUITM/Full_Shows">Full Shows</a></li>
                           <li><a href="/BUITM/Interviews">Interviews</a></li>
                           <li><a href="/BUITM/In_Studios">In Studios</a></li>
                           <li><a href="/BUITM/MISC">MISC.</a></li>
                        </ul>
                     </li>
                     <li><a href="/BUITM/DJs">DJs</a></li>
                     <li><a href="mailto:buinthemorning@gmail.com">Contact</a></li>
                  </ul>
               </div>
            </div>
         </nav>
    {{ content }}
</div>