<!DOCTYPE html>
<html lang="en">
   <head>
<meta property="og:title"              content="{{ page.title }}" />
<meta property="og:description"        content="{{ page.excerpt }}" />
<meta property="og:image"              content="{{ page.image_path }}" />

       <title>{{ page.title }}</title>
      <link rel="icon" href="{{base}}/assets/Drawing.png">
       <link href='{{base}}/assets/style.css' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Orbitron:400,700,900,500' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      
   </head>
   <body style="background-color:#f2f2f2">
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>                        
               </button>
               <a class="navbar-brand" href="/"><span class="spacing"><font color ="#bf2e26">WTBU RADIO</font></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav">
                  <li {% if page.url =="/" %}class="active" {% endif%}><a href="/">Home</a></li>
                  <li {% if page.url =="/Programming_Schedule.html"  or page.url=="/Studio_Sessions.html" or page.url =="/Music_Reviews.html" or page.url=="/Interview.html"%}class="active dropdown"{%else%}class="dropdown" {% endif%}>
                      
                      
                     <a class="dropdown-toggle" data-toggle="dropdown" href="">Programming <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li {% if page.url =="WTBU/Programming_Schedule.html"  %}class="active"{% endif%}><a href="/Programming_Schedule">Schedule</a></li>
                        <li {% if page.url =="WTBU/Studio_Sessions.html"  %}class="active"{% endif%}><a href="/Studio_Sessions">Studio Sessions</a></li>
                         
                         <li {% if page.url =="/Music_Reviews.html" %}class="active"{% endif %} ><a href="/Music_Reviews">Music Reviews</a></li>
                         
                          <li {% if page.url =="/Interview.html"  %}class="active"{% endif%}><a href="/Interviews">Interviews</a></li>
                     </ul>
                  </li>
                   
                   
                  <li><a href="https://wtbusportstrial.wordpress.com/">Sports</a></li>
                  <li><a href="https://wtbunews.org/">News</a></li>
                  <li {% if page.url =="/BUITM.html" %}class="active"{% endif%}><a href="/BUITM">BUITM</a></li>
                  <li {% if page.url =="/The_Beat.html" %}class="active"{% endif%}><a href="/The_Beat">The Beat</a></li>
                  <li {% if page.url =="/Events.html" %}class="active"{% endif%}><a href="/Events">Events</a></li>
                   
                   
                   
                  <li {% if page.url =="/About_Us.html"  or page.url=="/Contact_Us.html" or page.url =="/Underwriting.html" or page.url=="/Donate.html" or page.url=="/Download_App.html"%}class="active dropdown"{%else%}class="dropdown" {% endif%}>
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Interact <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li {% if page.url =="/About_Us.html"  %}class="active"{% endif%}><a href="/About_Us">About Us</a></li>
                        <li  {% if page.url =="/Contact_Us.html"  %}class="active"{% endif%}><a href="/Contact_Us">Contact Us</a></li>
                        <li  {% if page.url =="/Underwriting.html"  %}class="active"{% endif%}><a href="/Underwriting">Underwriting</a></li>
                        <li  {% if page.url =="/Donate.html"  %}class="active"{% endif%}><a href="/Donate">Donate</a></li>
                        <li  {% if page.url =="/Download_App.html"  %}class="active"{% endif%}><a href="/Download_App">Download our App</a></li>
                     </ul>
                  </li>
                   
                   
               </ul>
                <style>
                .btn:focus,.btn:active {
                    outline: none !important;
                    
}
                
                </style>
              
              <ul class="nav navbar-nav navbar-right">
                  <a  href="http://headphones.bu.edu/" type="button" class="btn btn-danger navbar-btn"> <i class="fa fa-lg fa-archive" aria-hidden="true"></i> &nbsp; Archives</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group" role="group" aria-label="...">
                 <a  href="listen.m3u" type="button" class="btn btn-danger navbar-btn"> Listen Live</a>
                
               <button type="button" class="btn btn-danger navbar-btn play"><i class="fa fa-play-circle fa-lg"></i></button>
                 <button type="button" class="btn btn-danger navbar-btn pause"><i class="fa fa-pause-circle fa-lg"></i></button>
                      
                    <span>&nbsp;&nbsp;</span>
                  
                    

 
                    </div>
               
                </ul>
                
            </div>
          </div>
      </nav>
       
       
      <header>
         <center>
             <style>
                 .jumbotron{
                     margin-bottom: -40px;
                    background: rgba(56,56,56,1);
background: -moz-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 8%, rgba(189,188,189,1) 49%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,56,56,1)), color-stop(8%, rgba(56,56,56,1)), color-stop(49%, rgba(189,188,189,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 8%, rgba(189,188,189,1) 49%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 8%, rgba(189,188,189,1) 49%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 8%, rgba(189,188,189,1) 49%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 8%, rgba(189,188,189,1) 49%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#ffffff', GradientType=0 );
                 }
                 .pad4{
                     padding-top: 35px;
                 }
                 .pad5{
                     padding-top: 10px;
                 }
             </style>
             
             
            <p class="pad3">
            </p>
            <div class="jumbotron">
           
               <div id="frame-back">
                  <div id="next-to">
                     Now Playing:  
                  </div>
                  <div id="frame">
                     <marquee behavior="scroll" direction="left">
                        <iframe id="spin-iframe" class="spin-songs"
                           src="http://spinitron.com/public/newestsong.php?num=1&amp;station=wtbu&amp;styles=body,*{font-size: 15px;color: black !important;}&amp;stylesheet=http%3A%2F%2Fspinitron.bitbucket.org%2Fspin.css"
                           width="100%" height="200" align="right"  scrolling="no"
                           >
                         </iframe>
                     </marquee>
                  </div>
               </div>
                <div id="top"></div>
             </div>
          </center>
       </header>
    
       <br>
<br>
      <br>
<br>
<div style="clear:both"></div>
        
       
       <div class="content">
       
       {{ content }}
       
       </div>
    
    <center>
                  <div class="footer">
            <p id="minor-pad"></p>
            <p>
               <a class="icon-pad" href="https://www.facebook.com/wtburadio"><i class="fa fa-facebook-square fa-4x"></i></a>
               <a class="icon-pad" href="https://twitter.com/WTBU"><i class="fa fa-twitter-square fa-4x"></i></a>
               <a class="icon-pad" href="https://www.instagram.com/wtbu/"><i class="fa fa-instagram fa-4x"></i></a>
                <a class="icon-pad" href="http://wtburadio.tumblr.com/"><i class="fa fa-tumblr-square fa-4x"></i></a>
            </p>
            <p><small>&copy; 2016 WTBU</small></p>
         </div>
    
 
       </center>
       
     <!--START SCRIPT -->  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
       <script>
       $(document).ready(function () {
        $("#sports").hide();
         setInterval(function refreshDarkSky() {
         
         var iframe = document.getElementById('spin-iframe');
         iframe.src = iframe.src;
         
         }, 20000);
         $('.carousel').carousel({
         interval: 4500
         })
    
 
        var audioElement = document.createElement('audio');
       
    

      

        $('.play').click(function() {
            audioElement.setAttribute('src', 'http://wtbu.bu.edu:1800/listen');
            audioElement.load();
            audioElement.play();
        });

        $('.pause').click(function() {
            audioElement.pause();
        });
    

 

    });
       
       </script>

       
        <!--END SCRIPT -->  
    </body>

</html>
                
                
                
                
                
                
                
                