---
layout: default
---

<style>

    b{
        color:firebrick;
    }
    h2{
        font-family: Orbitron;
        padding-left: 60px;
        background-color: gray;
        width:50%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color:white;
        position: relative;
        top:10px;
        padding-top: 5px;
    }
    h1{
        color:firebrick;
        
    }
    .social-share {
        background-color: black;
        width: 100%;
        border-radius: 15px;
        border-top-left-radius: 0px;
        
    }
    .social-share a{
        font-size: 50px;
        color: firebrick;
     text-decoration: none;
        padding-left: 20px;
    }
    .social-share a:hover{
        font-size: 50px;
        color: white;
     text-decoration: none;
  
    }
    .social-share2 {
        background-color: black;
        width: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        
    }
    .social-share2 a{
        font-size: 40px;
        color: firebrick;
     text-decoration: none;
        padding-left: 20px;
    }
    .social-share2 a:hover{
        font-size: 40px;
        color: white;
     text-decoration: none;
  
    }
    .textcontent{
        padding-left:60px;
        padding-right:60px;
        font-size: 15px;
        line-height: 250%;
        font-family: 'Lato', sans-serif;
    }
    .headerimage{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    .info{
       font-size: 16px;
        padding-left: 20px;
        font-family: 'Lato', sans-serif;
    }
    .date{
        color: firebrick;
        font-weight: bold;
    }
    .spacing2{
         font-family: Orbitron;
        position: relative;
        top: -20px;
    }
    .sharethis{
        color: white;
        font-family: Orbitron;
        position: relative;
        top: -8px;
    }
    li a {
        color: firebrick;
        text-decoration: none !important;
        
    }
    .breadcrumb li a:hover {
        color: black !important;
        font-weight: bold;
        text-decoration: none !important;
        
    }
   
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=959848700776434";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<div id="wrapper" class="clear">
    <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/Music_Reviews">Music Reviews</a></li>
  <li class="active">{{page.title}}</li>
</ol>
    <div class="headerimage" style="background-image: url('{{ page.header_path}}')"></div>
    <div class="social-share2">
        <span class="sharethis"> &nbsp;&nbsp;&nbsp;SHARE THIS: </span><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}{% if page.excerpt %}&text={{ page.excerpt | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}{% if site.twitter %}&via={{ site.twitter }}{% endif %}" title="Share on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}{% if page.excerpt %}&t={{ page.excerpt | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}" title="Share on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        <center><h1 class="spacing2">{{ page.title }}</h1></center></div>
    
     
<p class="info date" >{{ page.date | date: '%B %d, %Y' }}</p>
    <p class="info"><b>Author: </b>{{ page.author }}</p>
    
    <br>
    <div class="textcontent">
    {{page.content}}
    
    </div>
    <h2>Share this:</h2>
    <div class="social-share">
    


       <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}{% if page.excerpt %}&text={{ page.excerpt | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}{% if site.twitter %}&via={{ site.twitter }}{% endif %}" title="Share on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}{% if page.excerpt %}&t={{ page.excerpt | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}" title="Share on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
  
</div>
    
    
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-order-by="reverse_time" data-colorscheme="dark" data-numposts="5"></div>
    
    
</div>
